table, th, td {
	border: 1px solid black;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	text-align: center;
}

th.headerName {
	background-color: #F08080;
}

th.headerMatch {
	background-color: #87CEFA;
}

th.headerRanking {
	background-color: #F08080;
}

td.name {
	background-color: #F08080;
}

td.result {
	background-color: #87CEFA;
}

td.ranking {
	background-color: #FFFAF0;
}

td.fianlRanking {
	background-color: #F08080;
}

tr:hover {
	filter: brightness(70%);
}

th {
    cursor: pointer;
}